src/main/ethica-graph/ml-schemas/graphxql/entities/graphXql-types.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://graph.x.ql" xmlns:gxql="http://graph.x.ql">

  <xs:complexType name="EthicItem">
    <xs:sequence>
      <xs:element name="partNumber" type="xs:int"/>
      <xs:element name="itemNumber" type="xs:int"/>
      <xs:element name="uri" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="text" type="xs:string"/>
      <xs:element name="references">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="reference" type="gxql:Proposition" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="descendants">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="descendant" type="gxql:EthicItem" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AffectionDefinition">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="affectionDefinition" type="gxql:AffectionDefinition">
    <xs:annotation>
      <xs:documentation>Ethics Affection Definition Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="AffectionDefinitionExplanation">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem">
        <xs:sequence>
          <xs:element name="affectionDefinitionNumber" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="affectionDefinitionExplanation" type="gxql:AffectionDefinitionExplanation">
    <xs:annotation>
      <xs:documentation>Ethics Affection Definition Explanation Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="GeneralDefinition">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="generalDefinition" type="gxql:GeneralDefinition">
    <xs:annotation>
      <xs:documentation>Ethics Affections General Definition Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="GeneralDefinitionExplanation">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="generalDefinitionExplanation" type="gxql:GeneralDefinitionExplanation">
    <xs:annotation>
      <xs:documentation>Ethics Affections General Definition Explanation Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="Appendix">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="appendix" type="gxql:Appendix">
    <xs:annotation>
      <xs:documentation>Ethics Appendix Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="AppendixChapter">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="appendixChapter" type="gxql:AppendixChapter">
    <xs:annotation>
      <xs:documentation>Ethics Appendix Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="Axiom">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="axiom" type="gxql:Axiom">
    <xs:annotation>
      <xs:documentation>Ethics Axiom Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="Definition">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="definition" type="gxql:Definition">
    <xs:annotation>
      <xs:documentation>Ethics Definition Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="DefinitionExplanation">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem">
        <xs:sequence>
          <xs:element name="definitionNumber" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="definitionExplanation" type="gxql:DefinitionExplanation">
    <xs:annotation>
      <xs:documentation>Ethics Definition Explanation Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="Postulate">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="postulate" type="gxql:Postulate">
    <xs:annotation>
      <xs:documentation>Ethics Postulate Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="Preface">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="preface" type="gxql:Preface">
    <xs:annotation>
      <xs:documentation>Ethics Preface Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="Proposition">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="proposition" type="gxql:Proposition">
    <xs:annotation>
      <xs:documentation>Ethics Proposition Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="PropositionAxiom">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem">
        <xs:sequence>
          <xs:element name="propositionNumber" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="propositionAxiom" type="gxql:PropositionAxiom">
    <xs:annotation>
      <xs:documentation>Ethics Proposition Axiom Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="PropositionDemonstration">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem">
        <xs:sequence>
          <xs:element name="propositionNumber" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PropositionCorollary">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem">
        <xs:sequence>
          <xs:element name="propositionNumber" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="propositionCorollary" type="gxql:PropositionCorollary">
    <xs:annotation>
      <xs:documentation>Ethics Proposition Corollary Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="PropositionCorollaryDemonstration">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem">
        <xs:sequence>
          <xs:element name="propositionCorollaryNumber" type="xs:int"/>
          <xs:element name="propositionNumber" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="propositionCorollaryDemonstration" type="gxql:PropositionCorollaryDemonstration">
    <xs:annotation>
      <xs:documentation>Ethics Proposition Corollary Demonstration Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="PropositionCorollaryScolia">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem">
        <xs:sequence>
          <xs:element name="propositionCorollaryNumber" type="xs:int"/>
          <xs:element name="propositionNumber" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="propositionCorollaryScolia" type="gxql:PropositionCorollaryScolia">
    <xs:annotation>
      <xs:documentation>Ethics Proposition Corollary Demonstration Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="propositionDemonstration" type="gxql:PropositionDemonstration">
    <xs:annotation>
      <xs:documentation>Ethics Proposition Demonstration Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="PropositionScolia">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem">
        <xs:sequence>
          <xs:element name="propositionNumber" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="propositionScolia" type="gxql:PropositionScolia">
    <xs:annotation>
      <xs:documentation>Ethics Proposition Scolia Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="PropositionPostulate">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem">
        <xs:sequence>
          <xs:element name="propositionNumber" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="propositionPostulate" type="gxql:PropositionPostulate">
    <xs:annotation>
      <xs:documentation>Ethics Proposition Postulate Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="PropositionLemme">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem">
        <xs:sequence>
          <xs:element name="propositionNumber" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="propositionLemme" type="gxql:PropositionLemme">
    <xs:annotation>
      <xs:documentation>Ethics Proposition Lemme Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="PropositionLemmeAxiom">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem">
        <xs:sequence>
          <xs:element name="propositionLemmeNumber" type="xs:int"/>
          <xs:element name="propositionNumber" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="propositionLemmeAxiom" type="gxql:PropositionLemmeAxiom">
    <xs:annotation>
      <xs:documentation>Ethics Proposition Lemme Axiom Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="PropositionLemmeCorollary">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem">
        <xs:sequence>
          <xs:element name="propositionLemmeNumber" type="xs:int"/>
          <xs:element name="propositionNumber" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="propositionLemmeCorollary" type="gxql:PropositionLemmeCorollary">
    <xs:annotation>
      <xs:documentation>Ethics Proposition Lemme Axiom Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="PropositionLemmeDefinition">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem">
        <xs:sequence>
          <xs:element name="propositionLemmeNumber" type="xs:int"/>
          <xs:element name="propositionNumber" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="propositionLemmeDefinition" type="gxql:PropositionLemmeDefinition">
    <xs:annotation>
      <xs:documentation>Ethics Proposition Lemme Definition Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="PropositionLemmeDemonstration">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem">
        <xs:sequence>
          <xs:element name="propositionLemmeNumber" type="xs:int"/>
          <xs:element name="propositionNumber" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="propositionLemmeDemonstration" type="gxql:PropositionLemmeDemonstration">
    <xs:annotation>
      <xs:documentation>Ethics Proposition Lemme Demonstration Type</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="PropositionLemmeScolia">
    <xs:complexContent>
      <xs:extension base="gxql:EthicItem">
        <xs:sequence>
          <xs:element name="propositionLemmeNumber" type="xs:int"/>
          <xs:element name="propositionNumber" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="propositionLemmeScolia" type="gxql:PropositionLemmeScolia">
    <xs:annotation>
      <xs:documentation>Ethics Proposition Lemme Scolia Type</xs:documentation>
    </xs:annotation>
  </xs:element>

</xs:schema>